<h1>Add Movie</h1>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Title</label>
      <input [(ngModel)]="title" type="text" class="form-control">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Genere</label>
      <select [(ngModel)]="genre" class="form-control">
        <option
          *ngFor="let genre of genres"
          [value]="genre.id">{{genre.title}}</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group"> 
      <label for="">Writer</label>
      <input [(ngModel)]="writer" type="text" class="form-control">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Director</label>
      <input [(ngModel)]="director" type="text" class="form-control">

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Actors</label>
      <input [(ngModel)]="actors" type="text" class="form-control">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Rating</label>
      <input [(ngModel)]="rating" type="number" class="form-control">
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-12">
    <div class="form-group">
      <label for="">Video URL</label>
      <input [(ngModel)]="videourl" type="text" class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="">Description</label>
      <textarea [(ngModel)]="description" rows="10" class="form-control"></textarea>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="">Select Thumbnail</label>
      <input (change)="onSelectFile($event)" type="file" class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button (click)="onAdd()" class="btn btn-success">Add</button>
    <a style="margin-left: 10px;" routerLink="/movies-list" class="btn btn-danger">Cancel</a>
  </div>
</div>
